body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to right, rgb(92, 236, 162), rgb(238, 89, 247));
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
